html, body{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#speed{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    background-color: gray;
}
#speed > div{
    display: inline-block;
    margin-left: 2px;
    background-color: green;
    width: 5px;
    transition: 1s height;
}
#ball{
    position: absolute;
    bottom: 110px;
    width: 40px;
    height: 40px;
    left: 100px;
    border-radius: 20px;
    background-color: red;
    /* transition: 1s left; */
    cursor: pointer;
    z-index: 10;
}
#clear{
    position: fixed;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 20px;
    cursor: pointer;
    z-index: 10;
}
.forward{
    transition: 1s left, 1s top;
}